# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
build/
.pytest_cache/
pip-log.txt
*.egg-info/
.eggs/
*.egg
instance/
.webassets-cache
.env
.env.local

# Flask specific
*.db
*.sqlite3
*.sqlite
/instance
.pytest_cache

# Node.js / React
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# dotenv files
.env

# IDE folders
.vscode/
.idea/

# Coverage reports
coverage/

# React specific
*.local
.local
